.navbar {
  font-size: 20px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.navbar ul a {
  text-decoration: none;
  color: black;
  padding: 0 .25rem .25rem .25rem;
}

.navbar ul a.active {
  border-bottom: 1px rgba(0, 0, 0, 0.7) solid;
}

.navbar ul a:hover {
  opacity: .8;
}