.search-container {
  display: flex;
  flex-direction: column;
}

.search-container > form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container > form > * {
  margin-right: 1rem;
}

.search-body {
  display: flex;
  flex-direction: column;
}

.search-cards {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: grid;
  width: 100rem;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.artwork-card {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0 ,0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  flex: 0 1 calc(24% -1em);
}

.artwork-card:hover {
  transform: translateY(0.1%);
  box-shadow: 0 3.5rem 6.5rem rgba(0, 0, 0, 0.11);
}

.artwork-card a {
  text-decoration: none;
  color: black;
}

.artwork-card-img {
  width: 100%;
  object-fit: cover;
  height: 18rem;
}

.artwork-card-img-not-found {
  padding-top: 2rem;
}

.artwork-card-footer-content {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.artwork-card-footer-content::before {
  font-size: 2rem;
  margin: 1rem;
  content: 'X';
  visibility: hidden;
}

.artwork-card-footer-content-body {
  margin: auto;
}

.artwork-card-footer-content-title {
  font-size: 1.5rem;
  letter-spacing: 0.075rem;
  line-height: 1.4;
  color: #1d1d1d;
  margin-bottom: 1.5rem;
}

.artwork-card-footer-content-text {
  letter-spacing: 0.03rem;
  color: #3c3c3c;
  margin-bottom: auto;
}

.artwork-card-fav-btn {
  background-color: transparent;
  border: 0;
  color: black;
  padding: 1rem;
  font-size: 2rem;
}

.page-controller {
  align-self: flex-end;
}

.page-controller > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 1rem;
}

.page-controller > ul > * {
  border: solid black 1px;
  padding: .1rem .33rem;
  text-decoration: none;
  color: black;
}

/* .page-controller a.active {
  background-color: aqua;
} */